<h1>Inventories</h1>

<% @inventories.each do |inventory| %>
  <h2><%= inventory.name %></h2>
  <p><%= inventory.description %></p>
  <%= link_to "Details", inventory_path(inventory) %>
<% if inventory.user == current_user %>
  <%= button_to "Delete", inventory_path(inventory), method: :delete, data: { confirm: "Are you sure you want to delete this inventory?" } %>
<% end %>
<% end %>
<%= link_to "Create New Inventory", new_inventory_path %>